/*table*/
body {
  background-image: url('../public/table.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}



/*hands*/
ol {
  list-style-type: none;
}

#player {
  position: absolute;
  bottom: 75px;
  left: 300px;
  width: 100%;
}


/*cards*/
.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 10px;
  background: rgba(231,228,223,1);
  border: 1px solid grey;
}

.card div {
  top: 40px;
  left: 10px;
  position: relative;
  font-size: 30px;
}

.suitdiamonds:before, .suitdiamonds:after {
  content: "♦";
  color: #ff0000;
}
 
.suithearts:before, .suithearts:after {
  content: "♥";
  color: #ff0000;
}
 
.suitclubs:before, .suitclubs:after {
  content: "♣";
  color: #000;
}
 
.suitspades:before, .suitspades:after {
  content: "♠";
  color: #000;
}

li[class*='suit']:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}
 
li[class*='suit']:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
  transform: rotate(180deg);
}


