/*variables*/
:root {
  --cream-rgb: 231,228,223;
  --card-val-offset-horizontal: 10px;
  --card-val-offset-vertical: 7px;
}

/*screen*/
body {
  background-image: url('../public/table.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: rgba(var(--cream-rgb),1);
  margin-top: 25px;
}



/*hands*/
main {
  display: flex;
  flex-direction: column;
  height: 545px;
}

main ol {
  list-style-type: none;
  position: absolute;
  left: 25%;
  width: 100%;
  top: 50px;
}

#player {
  top: 315px;
}



/*cards*/
.card {
  position: relative;
  float: left;
  width: 150px;
  height: 208px;
  border-radius: 6px;
  background: rgba(var(--cream-rgb),1);
  border: 1px solid grey;
}

.faceDown {
  /*card image taken from http://chetart.com/blog/*/
  background-image: url('../public/playing-card-back.jpg');
  background-size: contain;
}

.card div {
  top: var(--card-val-offset-vertical);
  left: var(--card-val-offset-horizontal);
  position: relative;
  font-size: 30px;
}

.card div:nth-child(2) {
  bottom: var(--card-val-offset-vertical);
  right: var(--card-val-offset-horizontal);
  transform: rotate(180deg);
  position: absolute;
}

.suitdiamonds, .suithears {
  color: #ff0000;
}

.suitdiamonds:before {
  content: "♦";
}
 
.suithearts:before {
  content: "♥";
}
 
.suitclubs:before {
  content: "♣";
}
 
.suitspades:before {
  content: "♠";
}

div[class*='suit']:before {
  position: absolute;
  top: 33px;
}


/*buttons*/
button {
  border: none;
  padding: 20px;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 12px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 3px;
  color: rgba(var(--cream-rgb),1);
  background-color: rgba(var(--cream-rgb),0.3);
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid;
}

#hit:hover {
  background-color: rgba(2, 140, 117, 0.1);
}

#stand:hover {
  background-color: rgba(173, 102, 111, 0.8);
}

#deal {
  width: 224px;
  color: rgba(var(cream-rgbm),1);
}

#deal:hover {
  background-color: rgba(var(--cream-rgb),0.5);
  border-color: rgba(var(--cream-rgb),1);
}


/*stats*/
#victory-rate {
  margin-top: 20px;
}