/*table*/
body {
  background-image: url('../public/table.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}


/*hands*/

main {
  display: flex;
  flex-direction: column;
  height: 600px;
}

ol {
  list-style-type: none;
}

#player {
  position: absolute;
  bottom: 40px;
  left: 25%;
  width: 100%;
}


/*cards*/
.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 150px;
  height: 220px;
  border-radius: 6px;
  background: rgba(231,228,223,1);
  border: 1px solid grey;
}

.card div {
  top: 7px;
  left: 10px;
  position: relative;
  font-size: 30px;
}
.card div:nth-child(2) {
  transform: rotate(180deg);
  position: absolute;
  /*scss variables would be more maintainable*/
  bottom: 7px;
  right: 10px;
}

.suitdiamonds, .suithears {
  color: #ff0000;
}

.suitdiamonds:before {
  content: "♦";
}
 
.suithearts:before {
  content: "♥";
}
 
.suitclubs:before {
  content: "♣";
}
 
.suitspades:before {
  content: "♠";
}

div[class*='suit']:before {
  position: absolute;
  top: 33px;
}
